@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(/images/background2.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.menu-icon{
   position: absolute;
   top: 0;
   left: 0;
   width: 90px;
   background: rgba(255, 255, 255, 0.5);
   padding: 30px 25px;
   cursor: pointer;
}

.sidebar{
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(rgba(140, 92, 253, 0.75), rgba(68, 55, 173, 0.85));
    padding: 20px 60px;
    color: #fff;
} 

.top-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-icon{
    width: 30px;
    cursor: pointer;
}

.top-links div img{
    width: 30px;
    margin-left: 30px;
    cursor: pointer;
}
.sidebar h1{
    margin-top: 130px;
    font-size: 60px;
    font-family: 'Crimson Text', serif;
}
.sidebar h3{
    font-weight: 500;
}
.sidebar p{
    font-size: 13px;
    margin-top: 30px;
}

.sidebar a{
    display: inline-block;
    text-decoration: none;
    color: #4e00ff;
    background-color: #fff;
    font-size: 14px;
    padding: 15px 40px;
    border-radius: 4px;
    margin-top: 30px;
}

#btn{
    position: absolute;
    top: 50%;
    left: 480px;
    transform: translateY(-50%);
    width: 80px;
    cursor: pointer;
}

#backVideo{
    position: absolute;
    right: 0;
    bottom: 0;
}
@media (min-aspect-ratio: 16/9){
    #backVideo{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    #backVideo{
        width: auto;
        height: 100%;
    }
}